.homeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  width: auto;
  height: auto;
  background-image: url('../../../assets/grp.jpg');
  background-size: cover;

  @media screen and (min-width: 1000px) {
    height: 100vh;
  }
}

.compContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50vh, auto);

  > div {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid41 {
    background-color: #5998df;
  }

  .grid42 {
    background-color: #629abd;
  }
  .grid43 {
    background-color: #016960;
  }

  .grid44 {
    grid-column: 1/-1;
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.shortIntroContainer {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100vh, auto);

  .grid51 img {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100%;
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);

    .grid51 {
      display: none;
    }

    .grid54 {
      display: block;
    }
  }
}
