.navbar-desktop {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: white;
  font-size: 18px;

  > div {
    //border: 2px solid red;
  }

  > div:first-child {
    grid-column: 1/3;
    justify-self: start;
    align-self: center;
  }

  > div:nth-child(2) {
    grid-column: 3/11;
    justify-self: center;
    align-self: center;
  }

  > div:last-child {
    grid-column: 11/13;
    justify-self: end;
    align-self: center;
  }

  ul li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
  }

  ul li a {
    text-decoration: none;
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
  }

  ul li a:hover {
    color: #ff8a00;
  }

  ul .submenu {
    position: absolute;
    color: black;
    width: 200px;
    background-color: #ffffff;
    box-shadow: 0 20px 45px #00000020;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
  }

  ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    margin-top: 0;
  }

  ul .submenu li {
    margin: 0;
    width: 100%;
  }

  ul .submenu li a {
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
  }
}
