.picContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(300px, auto);
  column-gap: 16px;
  width: 100%;

  > div {
    // border: 2px solid yellow;
    overflow: hidden;
    //padding: 8px;
    border-radius: 10%;
    width: 100%;
    height: 100%;
  }
  > div:nth-child(even) {
    margin-top: 24px;
  }
  > div:nth-child(odd) {
    margin-bottom: 24px;
  }

  > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
