.hoverAnimation {
  position: relative;
  color: #000;
  text-decoration: none;
}
.hoverAnimation:hover {
  color: #000;
}
.hoverAnimation::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.hoverAnimation:hover::before {
  transform: scaleX(1);
}
