.scrollAni {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50vh, auto);
  background-color: white;
  padding-bottom: 48px;
  z-index: -2;

  > div {
    // border: 2px solid yellow;
  }

  .grid1 {
    grid-column: 1/2;
    margin-bottom: 30%;
  }

  .grid2 {
    grid-column: 4/5;
    margin-top: 30%;
  }

  .grid3 {
    margin-top: 20%;
    grid-column: 1/2;
    margin-bottom: 30%;
  }

  .grid4 {
    grid-column: 4/5;
    margin-top: 30%;
  }

  .grid5 {
    grid-column: 1/2;
    margin-bottom: 30%;
  }

  .grid6 {
    grid-column: 4/5;
    margin-top: 30%;
  }

  .grid7 {
    margin-top: 20%;
    grid-column: 1/2;
    margin-bottom: 30%;
  }

  .grid8 {
    grid-column: 4/5;
    margin-top: 30%;
  }

  .grid9 {
    margin-top: 20%;
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .grid10 {
    margin-top: 20%;
    grid-column: 2/4;
    grid-row: 4/5;
  }

  .grid11 {
    grid-column: 1/5;
    grid-row: 1/5;
    position: absolute;
    // left: 50%;
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
