.imgContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  grid-auto-rows: minmax(100vh, auto);

  > div {
    // border: 2px solid red;
  }

  > div * {
    border-radius: 10%;
  }

  > div:nth-child(even) {
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }
}

.scrollContainer {
  width: 100%;
  background-image: url('../../../assets/abstract2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
