.formContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url('../../../assets/contact-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-auto-rows: minmax(100px, auto);
  width: 100vw;
}

.grid-1 {
  grid-row: 1;
  grid-column: 5;
  padding: 16px;
}

.grid-2 {
  grid-row: 1;
  grid-column: 6;
  padding: 16px;
}

.grid-3 {
  grid-column: 7/13;
  grid-row: 2/10;
}

.grid-4 {
  grid-row: 1;
  grid-column: 7;
  padding: 16px;
}

.grid-5 {
  grid-row: 1;
  grid-column: 8;
  padding: 16px;
}

.grid-6 {
  grid-column: 1/7;
  grid-row: 2/10;
}
