.textContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: '. area1 area1 area2 area2 area3 area3 .';
  background-color: black;

  > div {
    padding-left: 16px;
  }

  > div:first-child {
    grid-area: area1;
    border-right: 2px solid white;
  }

  > div:nth-child(2) {
    grid-area: area2;
    border-right: 2px solid white;
  }

  > div:last-child {
    grid-area: area3;
    margin-left: 32px;
  }
}

.grpContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  color: black;

  > div {
    //border: 2px solid green;
  }

  .grid21 {
    grid-column: 1/-1;
  }

  .grid23 {
    grid-column: 2/4;
  }

  .grid24 {
    grid-column: 4/6;
  }

  .grid26 {
    grid-column: 1/-1;
  }
}

.benefitContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: black;

  > div {
  }

  .grid31 {
    grid-column: 2/7;
  }

  .grid32 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .grid33 {
    grid-column: 7/8;
    grid-row: 1/3;
  }

  .grid34 {
    grid-column: 2/7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(80px, auto);

    > div {
      padding: 16px;
    }
  }
}
